@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 100%; /*change to liking*/
  height: 100vh; /*change to liking*/
  background: #fbd827;
}
.card {
  width: 350px;
  height: 400px;
  background: white;
  cursor: pointer;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 50 rgba(0, 0, 0, 0.315);
}

/* inner card transitions */
.card img {
  width: 40%;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%) translateY(50px);
  transition: all 0.6s;
}
.card:hover img,
.card:hover h1,
.card:hover h3 {
  transform: translate(-50%) translateY(0px);
}
.card h1,
h3 {
  position: absolute;
  top: 200px;
  left: 50%;
  left: 50%;
  transform: translate(-50%) translateY(50px);
  font-family: "Times New Roman", Times, serif;
  transition: all 0.6s;
}
.card h1 {
  top: 200px;
}
.card h3 {
  top: 250px;
}

/* icon colors */
.card .icon i:nth-child(1) {
  color: #24292f;
}
.card .icon i:nth-child(2) {
  color: aqua;
}
.card .icon i:nth-child(3) {
  color: blue;
}

/* icon transitions */
.card .icon {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}
.card .icon i {
  margin: 10px;
}
.card .icon i:nth-child(1),
.card .icon i:nth-child(3) {
  transform: translateY(100px);
  transition: all 0.6s;
}
.card .icon i:nth-child(2) {
  transform: translateY(100px);
  transition: all 0.6s;
}
.card:hover .icon i:nth-child(1),
.card:hover .icon i:nth-child(3) {
  transform: translateY(15px);
}
.card:hover .icon i:nth-child(2) {
  transform: translateY(-10px);
}

main-cont-container {
  display: flex;
  flex-direction: row;
}
