* {
  margin: 0;
  padding: 0;
}

body {
  background: #00303f;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  border-radius: 15px;
  height: 600px;
  width: 90%;
  min-width: 900px;
  max-width: 1300px;
  margin: 10% auto;
  padding: 20px;
  background-color: #f5f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .introCard {
  border-radius: 15px;
  width: 350px;
  height: 100%;
  min-width: 350px;
  margin-right: 20px;
  background: #00303f;
  cursor: pointer;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container .introCard img {
  width: 40%;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%) translateY(50px);
          transform: translate(-50%) translateY(50px);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.container .introCard:hover img {
  -webkit-transform: translate(-50%) translateY(0px);
          transform: translate(-50%) translateY(0px);
}

.container .introCard:hover h1 {
  -webkit-transform: translate(-50%) translateY(0px);
          transform: translate(-50%) translateY(0px);
}

.container .introCard:hover h3 {
  -webkit-transform: translate(-50%) translateY(0px);
          transform: translate(-50%) translateY(0px);
}

.container .introCard h1,
.container .introCard h3 {
  position: absolute;
  top: 200px;
  left: 50%;
  left: 50%;
  -webkit-transform: translate(-50%) translateY(50px);
          transform: translate(-50%) translateY(50px);
  font-family: "Times New Roman", Times, serif;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  color: #f5f4f4;
}

.container .introCard h1 {
  top: 200px;
}

.container .introCard h3 {
  top: 250px;
}

.container .introCard .icon i:nth-child(1) {
  color: #cdac81;
}

.container .introCard .icon i:nth-child(2) {
  color: #cdac81;
}

.container .introCard .icon i:nth-child(3) {
  color: #cdac81;
}

.container .introCard .icon {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.container .introCard .icon i {
  margin: 10px;
}

.container .introCard .icon i:nth-child(1),
.container .introCard .icon i:nth-child(3) {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.container .introCard .icon i:nth-child(2) {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.container .introCard:hover .icon i:nth-child(1),
.container .introCard:hover .icon i:nth-child(3) {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.container .introCard:hover .icon i:nth-child(2) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.container .details {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  background: #00303f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container .details .navBar {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .details .navBar .currentPage {
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f5f4f4;
}

.container .details .navBar .currentPage h1 {
  margin: auto;
}

.container .details .navBar .navOptions {
  height: 100%;
  width: 35%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .details .navBar .navOptions button {
  width: 150px;
  height: 40px;
  font-size: 18px;
  margin: auto;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.container .details .content {
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .details .content .aboutMePage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .details .content .aboutMePage .personalBrandStatement {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 480px;
  padding: 0px 10px;
  margin: 15px 0px;
  border-left: 3px solid #f5f4f4;
  color: #f5f4f4;
}

.container .details .content .aboutMePage .skillCardCont {
  height: 80%;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .details .content .aboutMePage .skillCardCont .skillCard {
  width: 28%;
  height: 38%;
  background-color: #cdac81;
  border-radius: 15px;
  padding: 10px;
  color: #cae4db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .details .content .aboutMePage .skillCardCont .skillCard h3 {
  font-size: 30px;
  border-bottom: 1px solid;
  margin: 0 0 5px;
}

.container .details .content .projectsPage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .details .content .projectsPage .projectCardCont {
  height: 80%;
  width: 100%;
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .details .content .projectsPage .projectCardCont .projectCard {
  width: 28%;
  height: 38%;
  background-color: #cdac81;
  border-radius: 15px;
  padding: 0;
  color: #cae4db;
}

.container .details .content .projectsPage .projectCardCont .projectCard:hover {
  cursor: pointer;
}

.container .details .content .projectsPage .projectCardCont .musique {
  background-image: url(../komono/musique.png);
}

.container .details .content .projectsPage .projectCardCont .theOffice {
  background-image: url(../komono/theOffice.png);
}

.container .details .content .projectsPage .projectCardCont .re-did-it {
  background-image: url(../komono/re-did-it.png);
}

.container .details .content .projectsPage .projectCardCont .MuSe {
  background-image: url(../komono/MuSe.png);
}
/*# sourceMappingURL=style.css.map */